.menu-btn {
    position: absolute;
    z-index: 1;
    right: 1.5rem;
    top: 1.5rem;
    height: 21px;
    width: 30px;
    cursor: pointer;
    @include transition-ease;

    &-burger {
        position: absolute;
        right: 0;
        top: 0.5rem;
        width: 28px;
        height: 3px;
        background: $secondary-color;
        @include transition-ease;

        &::before {
            content: "";
            position: absolute;
            top: -8px;
            width: 28px;
            height: 3px;
            background: $secondary-color;
            @include transition-ease;
        }
        &::after {
            content: "";
            position: absolute;
            top: 8px;
            width: 28px;
            height: 3px;
            background: $secondary-color;
            @include transition-ease;
        }

        &.open {
            transform: rotate(360deg);
            background: transparent;

            &::before {
                transform: rotate(45deg) translate(6px, 6px);
                background: $primary-color;
            }
            &::after {
                transform: rotate(-45deg) translate(5px, -6px);
                background: $primary-color;
            }
        }
    }
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.98;
    visibility: hidden;

    &.open {
        visibility: visible;
    }

    .menu-nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        background: $secondary-color;
        transform: translateX(100%);
        @include transition-ease;
        &.open {
            transform: translateX(0);
        }
        li {
            margin-top: 4rem;
        }
        a {
            font-size: 2rem;
            color: $primary-color;
            @include transition-ease;
            &:hover {
                color: $bg-color;
            }
        }
    }
}
