@import "config", "menu", "responsive";

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $bg-color;
}

body {
    font-family: "Cantora One", sans-serif;
    line-height: 1;
    color: $primary-color;
}

h1,
h2,
h3 {
    font-weight: 400;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    background: $primary-color;
    position: fixed;
    width: 100%;
    padding: 1.5rem;
    .logo {
        color: $secondary-color;
        font-size: 1.8rem;
        font-weight: bold;
        letter-spacing: 2px;
    }
}

#home {
    height: auto;
    padding-top: 7rem;
    box-shadow: 0 7px 10px -5px #dfdfdf;
    .h-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .info {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            .description {
                text-align: center;
                margin-top: 3rem;
                font-size: 1.5rem;
                p {
                    margin-top: 2rem;
                }
                .socials {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding-top: 2rem;
                    span {
                        text-align: center;
                        font-size: 1.5rem;
                        border-bottom: 2px solid $primary-color;
                        padding-bottom: 0.5rem;
                        width: 6rem;
                    }
                    .social-icons {
                        display: flex;
                        gap: 1rem;
                        padding: 1rem;
                        a {
                            font-size: 2rem;
                            color: $primary-color;
                            background-color: $bg-color;
                            padding: 0.5rem;
                            border-radius: 30%;
                            border: 1px solid $primary-color;
                            box-shadow: 0 0 3px $primary-color;
                        }
                    }
                }
            }
            .img {
                background: url("/dist/img/me.JPG") no-repeat center center/cover;
                border: 3px solid $primary-color;
                border-radius: 45%;
                height: 20rem;
                width: 20rem;
            }
        }
    }
    .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
        span {
            text-align: center;
            font-size: 1.5rem;
            border-bottom: 2px solid $primary-color;
            padding-bottom: 0.5rem;
            width: 6rem;
        }
        ul {
            display: flex;
            padding: 1rem;
            justify-content: center;
            gap: 1rem;
            flex-wrap: wrap;
            li {
                font-size: 2rem;
                padding: 1rem;
                background-color: $bg-color;
                border-radius: 30%;
            }
        }
    }
}

#about {
    text-align: center;
    box-shadow: 0 7px 10px -5px #dfdfdf;
    .a-content {
        padding: 3rem 0;
        h2 {
            font-size: 2rem;
        }
        p {
            margin-top: 1rem;
            font-size: 1.5rem;
        }
    }
}

#projects {
    box-shadow: 0 7px 10px -5px #dfdfdf;
    .p-content {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3rem 0;
        gap: 1rem;
        h2 {
            font-size: 2rem;
        }
        i {
            font-size: 2rem;
            padding: 1rem;
            border-radius: 30%;
            background-color: $bg-color;
        }
    }
}

#contact {
    .c-content {
        text-align: center;
        padding: 3rem 0;
        h2 {
            font-size: 2rem;
        }
        .c-info {
            display: grid;
            .contact-box {
                margin-top: 3rem;
                i {
                    font-size: 2rem;
                    padding: 1rem;
                    border-radius: 1rem;
                    background-color: $bg-color;
                }
                h3 {
                    margin: 1rem;
                    font-size: 1.7rem;
                }
                a {
                    font-size: 1.1rem;
                    color: $primary-color;
                    @include transition-ease;
                    &:hover {
                        color: $bg-color;
                    }
                }
            }
        }
    }
}

footer {
    font-size: 1rem;
    bottom: 0;
    width: 100%;
    padding: 1.5rem;
    background-color: $primary-color;
    color: $secondary-color;

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    a {
        font-size: 2rem;
        color: $secondary-color;
        margin-left: 20px;
        @include transition-ease;
        &:hover {
            color: $bg-color;
        }
    }
}
